<header  ng-controller="EventController">
    <nav>
        <div class="nav-wrapper theme_color">
            <a href="" class="brand-logo space" ng-click="goToNewsfeed()"><img class="logo" src="./images/logo.gif" alt="" /></a>
            <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down nav-menu">
                <li><a href="" ng-click="goToMyDashboard()">My Dashboard</a></li>
                <li><a href="" ng-click="goToNewsfeed()">Newsfeed</a></li>
                <li><a href="" ng-click="goToForum()">Forum</a></li>
                <li><a href="" ng-click="goToSuggestions()">Make a Suggestion</a></li>
                <li><a href="" ng-click="logout()">Log Out</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="" ng-click="goToMyDashboard()">My Dashboard</a></li>
                <li><a href="" ng-click="goToNewsfeed()">Newsfeed</a></li>
                <li><a href="" ng-click="goToForum()">Forum</a></li>
                <li><a href="" ng-click="goToSuggestions()">Make a Suggestion</a></li>
                <li><a href="" ng-click="logout()">Log Out</a></li>
            </ul>
        </div>
    </nav>
</header>
<main ng-controller="EventController">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div id="eventsTitle"></div>
                <div class="row">
                    <div class="col s12">
                        <h5 class="text_theme_light">Upcoming Events:</h5>
                        <div ng-repeat="event in events">
                            <div class="left" style="margin-left: 20px">
                                <h5><span ng-bind="event.bookTopic"></span></h5>
                                <p><span ng-bind="event.locationName"></span></p>
                                <p><span ng-bind="event.city+', '+event.state"</span></p>
                                <p><span ng-bind="'Notes: '+event.notes"></span></p>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m5">
                        <form>
                            <input type="text" name="bookTitle" placeholder="book topic" ng-model="newEvent.bookTopic"/>
                            <input type="text" name="host" placeholder="location's name" ng-model="newEvent.locationName"/>
                            <input type="text" name="city" placeholder="city" ng-model="newEvent.city"/>
                            <input type="text" name="state" placeholder="state (eg. CA)" ng-model="newEvent.state"/>
                            <div class="input-field">
                                <input type="date" class="datepicker" name="date" placeholder="date of event" ng-model="newEvent.date"/>
                            </div>
                            <input type="text"  name="time" placeholder="time of day (eg. 9 PM (EST))" ng-model="newEvent.time"/>
                            <input type="text" name="notes" placeholder="notes (eg. bring snacks, drinks etc)" ng-model="newEvent.notes"/>
                            <input class="text_theme_light btn" type="submit" ng-click="addEvent()" value="Add Event!"/>
                        </form>
                    </div>
                    <div class="col s12 m7">
                        <iframe
                            width="100%"
                            height="450"
                            frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB-v1toO2x1tqe670FIShsnsZRXERSXNNY&q=AFK+Lounge,San+Jose+CA" allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="page-footer theme_color_dark">
    <div class="footer-copyright">
        <div class="row">
            <div class="col s8">
                <p class="">&copy; 2015 Kelly Howard Inc.</p>
            </div>
            <div class="col s4">
                <a class="grey-text text-lighten-4 right" href="https://github.com/kellybhoward" target="_blank"><img class="logo" src="./images/Octocat.png" alt="" /></a>
            </div>
        </div>
    </div>
</footer>
