<header ng-controller="ForumController">
    <nav>
        <div class="nav-wrapper theme_color">
            <a href="" class="brand-logo space" ng-click="goToNewsfeed()"><img class="logo" src="./images/logo.gif" alt="" /></a>
            <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down nav-menu">
                <li><a href="" ng-click="goToMyDashboard()">My Dashboard</a></li>
                <li><a href="" ng-click="goToNewsfeed()">Newsfeed</a></li>
                <li><a href="" ng-click="goToEvents()">Events</a></li>
                <li><a href="" ng-click="goToSuggestions()">Make a Suggestion</a></li>
                <li><a href="" ng-click="logout()">Log Out</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="" ng-click="goToMyDashboard()">My Dashboard</a></li>
                <li><a href="" ng-click="goToNewsfeed()">Newsfeed</a></li>
                <li><a href="" ng-click="goToEvents()">Events</a></li>
                <li><a href="" ng-click="goToSuggestions()">Make a Suggestion</a></li>
                <li><a href="" ng-click="logout()">Log Out</a></li>
            </ul>
        </div>
    </nav>
</header>
<main ng-controller="ForumController">
    <div class="container">
        <div id="forumTitle"></div>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="collection">
                        <a href="" ng-repeat="category in categories" ng-click="goToForumCategory(category.name)" class="collection-item flow-text">{{category.name}}<span class="badge" ng-bind="category.posts.length"></span></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</main>
<footer class="page-footer theme_color_dark">
    <div class="footer-copyright">
        <div class="row">
            <div class="col s8">
                <p class="">&copy; 2015 Kelly Howard Inc.</p>
            </div>
            <div class="col s4">
                <a class="grey-text text-lighten-4 right" href="https://github.com/kellybhoward" target="_blank"><img class="logo" src="./images/Octocat.png" alt="" /></a>
            </div>
        </div>
    </div>
</footer>
