<header ng-controller="ForumCatController">
    <nav>
        <div class="nav-wrapper theme_color">
            <a href="" class="brand-logo space" ng-click="goToNewsfeed()"><img class="logo" src="./images/logo.gif" alt="" /></a>
            <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down nav-menu">
                <li><a href="" ng-click="goToMyDashboard()">My Dashboard</a></li>
                <li><a href="" ng-click="goToNewsfeed()">Newsfeed</a></li>
                <li><a href="" ng-click="goToForum()">Forum</a></li>
                <li><a href="" ng-click="goToEvents()">Events</a></li>
                <li><a href="" ng-click="goToSuggestions()">Make a Suggestion</a></li>
                <li><a href="" ng-click="logout()">Log Out</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="" ng-click="goToMyDashboard()">My Dashboard</a></li>
                <li><a href="" ng-click="goToNewsfeed()">Newsfeed</a></li>
                <li><a href="" ng-click="goToForum()">Forum</a></li>
                <li><a href="" ng-click="goToEvents()">Events</a></li>
                <li><a href="" ng-click="goToSuggestions()">Make a Suggestion</a></li>
                <li><a href="" ng-click="logout()">Log Out</a></li>
            </ul>
        </div>
    </nav>
</header>
<main ng-controller="ForumCatController">
    <div class="container">
        <div id="forumTitle"></div>
        <div class="center card">
            <h4 class="text_theme" ng-bind="category.name"></h4>
        </div>
        <div>
            <h5 class="text_theme">Start a Discussion, {{user.given_name}}</h5>
            <textarea class="materialize-textarea" name="post" rows="8" cols="40" ng-model="newPost.text"></textarea>
            <input ng-click="addPost()" class="btn theme_color right" type="submit" name="addPost" value="Begin Discussion"/>
            <div class="clear"></div>
        </div>
        <div class="row space" ng-repeat="post in category.posts track by $index">
            <div class="col s1 center-align">
                <a href=""><i class="tiny material-icons block text_theme_light">thumb_up</i></a>
                <a href=""><i class="tiny material-icons block space text_theme_light">thumb_down</i></a>
            </div>
            <div class="col s11">
                <blockquote class="flow-text">
                    <a href="" class="text_theme_light" ng-bind="post._user.given_name+': '"></a>{{post.text}}
                    <div class="right">
                        <a href="" ng-click="showComments($index)" class="text_theme_light"><p>Show/Hide Replies ({{post.comments.length}})</p></a>
                    </div>
                </blockquote>
                <div class="row" ng-show="myComments.$index">
                    <div class="col s10 right" ng-repeat="comment in post.comments">
                        <blockquote>
                            <a href="" class="text_theme_light" ng-bind="comment._user.given_name+': '"></a>{{comment.text}}
                        </blockquote>
                    </div>
                    <div class="col s10 right">
                        <input type="text" name="comment" placeholder="your reply" ng-model="newComment[$index].text"/>
                        <input ng-click="addComment(post._id, $index)" type="submit" class="right btn theme_color" name="addComment" value="Reply">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="page-footer theme_color_dark">
    <div class="footer-copyright">
        <div class="row">
            <div class="col s8">
                <p class="">&copy; 2015 Kelly Howard Inc.</p>
            </div>
            <div class="col s4">
                <a class="grey-text text-lighten-4 right" href="https://github.com/kellybhoward" target="_blank"><img class="logo" src="./images/Octocat.png" alt="" /></a>
            </div>
        </div>
    </div>
</footer>
