<header  ng-controller="DashboardController">
    <nav>
        <div class="nav-wrapper theme_color">
            <a href="" class="brand-logo space" ng-click="goToNewsfeed()"><img class="logo" src="./images/logo.gif" alt="" /></a>
            <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down nav-menu">
                <li><a href="" ng-click="goToNewsfeed()">Newsfeed</a></li>
                <li><a href="" ng-click="goToForum()">Forum</a></li>
                <li><a href="" ng-click="goToEvents()">Events</a></li>
                <li><a href="" ng-click="goToSuggestions()">Make a Suggestion</a></li>
                <li><a href="" ng-click="logout()">Log Out</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="" ng-click="goToNewsfeed()">Newsfeed</a></li>
                <li><a href="" ng-click="goToForum()">Forum</a></li>
                <li><a href="" ng-click="goToEvents()">Events</a></li>
                <li><a href="" ng-click="goToSuggestions()">Make a Suggestion</a></li>
                <li><a href="" ng-click="logout()">Log Out</a></li>
            </ul>
        </div>
    </nav>
</header>
<main ng-controller="DashboardController">
    <div class="container">
        <div id="dashboardTitle"></div>
        <div class="row">

            <div class="col s12 m6">
                <div class="row">
                    <div class="s12 card-panel">
                        <img src="{{user.picture}}" class="profile_photo block right" alt="" />
                        <h5 class="flow-text"><span ng-bind="user.nickname"></span></h5>
                        <h6><span ng-bind="user.headline"></span></h6>
                        <h6><span ng-bind="user.industry"></span></h6>
                        <div class="clear"></div>
                        <h5 class="flow-text">My Badges:</h5>
                        <div class="badges">
                            <div ng-repeat="badge in badges" style="display: inline;">
                                <div ng-if="badge.name == 'History'" style="display:inline-block; height: 50px; width: 50px; background-image: url({{badge.src}}); background-size: contain; margin: 2px 5px; background-repeat: no-repeat;"></div>
                            </div>
                        </div>
                        <h5 class="flow-text">Available Badges:</h5>
                        <div class="badges">
                            <div ng-repeat="badge in badges" style="display: inline;">
                                <div ng-if="badge.name !== 'History'" style="display:inline-block; height: 50px; width: 50px; background-image: url({{badge.src}}); background-size: contain; margin: 2px 5px; background-repeat: no-repeat;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <h5>Categories:</h5>
                <div class="collection" >
                    <span ng-repeat="category in categories track by $index">
                        <a href="" class="collection-item flow-text" ng-click="toggleShowBooks($index)" ><div style="display:inline-block; height: 30px; width: 30px; background-image: url({{category.badge.src}}); background-size: contain; background-repeat: no-repeat; margin-right: 10px;"></div>{{category.name}}</a>
                        <div class="{{$index}}" style="display: none">
                            <div class="book_info" ng-repeat="book in category.books">
                                <div class="row">
                                    <div class="col s1">
                                        <div class="top_space" style="margin-left: 10px;">
                                            <input id="{{book._id}}" type="checkbox" name="name" ng-model="book.finished"/>
                                            <label for="{{book._id}}"></label>
                                        </div>
                                    </div>
                                    <div class="col s3">
                                        <a href="{{book.amazonURL}}" target="_blank">
                                        <div style="background-image: url({{book.coverURL}}); background-repeat: no-repeat; background-size: contain; height: 150px; width: 100%; margin: 10px 0px 0px 10px;"></div>
                                        </a>
                                    </div>
                                    <div class="col s8">
                                        <div class="card-panel">
                                            <h5 ng-bind="book.title" class="flow-text"></h5>
                                            <h6 ng-bind="book.subtitle" class="flow-text"></h6>
                                            <p ng-if="book.audio"><i class="material-icons text_theme_light">hearing</i></p>
                                            <p class="inline">(Have you read it yet?) <h5 ng-if="book.finished" class="inline flow-text text_theme_light">Yes!</h5></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="page-footer theme_color_dark">
    <div class="footer-copyright">
        <div class="row">
            <div class="col s8">
                <p class="">&copy; 2015 Kelly Howard Inc.</p>
            </div>
            <div class="col s4">
                <a class="grey-text text-lighten-4 right" href="https://github.com/kellybhoward" target="_blank"><img class="logo" src="./images/Octocat.png" alt="" /></a>
            </div>
        </div>
    </div>
</footer>
