<header ng-controller="SuggestionController">
    <nav>
        <div class="nav-wrapper theme_color">
            <a href="" class="brand-logo space" ng-click="goToNewsfeed()"><img class="logo" src="./images/logo.gif" alt="" /></a>
            <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down nav-menu">
                <li><a href="" ng-click="goToMyDash()">My Dashboard</a></li>
                <li><a href="" ng-click="goToNewsfeed()">Newsfeed</a></li>
                <li><a href="" ng-click="goToForum()">Forum</a></li>
                <li><a href="" ng-click="goToEvents()">Events</a></li>
                <li><a href="" ng-click="logout()">Log Out</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="" ng-click="goToMyDash()">My Dashboard</a></li>
                <li><a href="" ng-click="goToNewsfeed()">Newsfeed</a></li>
                <li><a href="" ng-click="goToForum()">Forum</a></li>
                <li><a href="" ng-click="goToEvents()">Events</a></li>
                <li><a href="" ng-click="logout()">Log Out</a></li>
            </ul>
        </div>
    </nav>
</header>
<main ng-controller="SuggestionController">
    <div class="container">
        <div id="suggestionTitle"></div>
        <div class="container">
            <p class="flow-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
        </div>
    </div>
</main>
<footer class="page-footer theme_color_dark">
    <div class="footer-copyright">
        <div class="row">
            <div class="col s8">
                <p class="">&copy; 2015 Kelly Howard Inc.</p>
            </div>
            <div class="col s4">
                <a class="grey-text text-lighten-4 right" href="https://github.com/kellybhoward" target="_blank"><img class="logo" src="./images/Octocat.png" alt="" /></a>
            </div>
        </div>
    </div>
</footer>
